.admin-menu {
    background: #343a40e3;
    color: white;
    padding-top: 55px;
    display: flex;
    flex-direction: row; 
}
.admin-item {
    padding: 10px;
    color: #9A9DA0;
    cursor: pointer;
}
.admin-item a {
  text-decoration: none;
  color: #9A9DA0;
}
.admin-item a:hover {
    color: #CCCECF;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 122, 122); 
  }